html {
  font-family: "Fredoka One", sans-serif;
}

.background {
  background-image: repeating-linear-gradient(-33deg, #c9fcff, #b3fbff 2%, #d4fdff 2%);
  border-top: 10px solid #b3fbff;
  border-bottom: 10px solid #b3fbff;
}

.banner {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.header {
  left: -.15em;
  position: relative;
  color: #990073;
  animation: header-in 200ms 1200ms ease-in forwards;
  opacity: 0;
  filter: blur(12px);
  transform: rotate(-11deg);
  transform-origin: left center;
}

.info {
  max-width: 19em;
  color: #c09;
  animation: info-in 200ms 1200ms ease-in forwards;
  opacity: 0;
  filter: blur(12px);
  transform: rotate(-7deg);
  transform-origin: left center;
}

.btn-ghost {
  animation: btn-in 200ms 1200ms ease-in forwards;
  opacity: 0;
  filter: blur(12px);
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  background-color: rgba(255, 0, 153, .1);
  border-color: #990073;
  color: #c09;
}

.ice-cream {
  min-height: 480px;
}

@keyframes header-in {

  0% {
    filter: blur(12px);
    opacity: 0;
    transform: rotate(-11deg);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: rotate(-9deg);
  }

}

@keyframes info-in {

  0% {
    filter: blur(12px);
    opacity: 0;
    transform: rotate(-7deg);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: rotate(-5deg);
  }

}

@keyframes btn-in {

  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }

}

.frozen {
  bottom: 100%;
  left: 50%;
  width: 180px;
  height: 180px;

  transform: translateX(-50%);
}

.frozen-cone {
  animation: cone-fall 300ms ease-in forwards;
  z-index: 5;
}

@keyframes cone-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}

.frozen-mint-chip {
  animation: mint-fall 300ms 300ms ease-in forwards;
  z-index: 1;
}

@keyframes mint-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 104px;
  }

}

.frozen-chocolate-chip {
  left: 53%;
  animation: chocolate-fall 300ms 600ms ease-in forwards;
  z-index: 2;
}

@keyframes chocolate-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 190px;
  }

}

.frozen-vanilla-fudge {
  left: 48%;
  animation: vanilla-fall 200ms 900ms ease-in forwards;
  z-index: 3;
}

@keyframes vanilla-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 263px;
  }

}

.frozen-cherry {
  animation: cherry-fall 150ms 1500ms ease-in forwards;
  z-index: 4;
}

@keyframes cherry-fall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 342px;
  }

}
